:root {
    --bg-color: blue;
    --text-color:  #757575;
    --bg-color: #2F303A;
    --tex-color:#2196F3;
    --adress-color:#fff;
    --phone-color: rgba(255, 255, 255, 0.60);
    --bge-color: #F5F4FA;
}

.text-one {
    color: var(--tex-color);
}

.p1 {
    color: var(--text-color);
    text-decoration: none;
}

.a1 {
    color: var(--tex-color);
    text-decoration: none;
}

.foot {
    background-color: var(--bg-color);
}

.adres {
    color: var(--adress-color);
}

.sect-1 {
    background-color: var(--bg-color);
}

.text-glav {
    color: var(--adress-color);
}

.p2 {
    color: var(--text-color);
}

.button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--adress-color);
}

.mailto {
    color: var(--phone-color);
}

.tel {
    color: var(--phone-color);
}

.h22 {
    background-color: var(--bge-color);
}